/* ページ全体のスタイル */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 地図表示領域のスタイル */
#map {
  height: 90%; /* ヘッダー部分を除いた残りの高さに設定 */
  width: 100%; /* 全幅 */
}

/* ヘッダーのスタイル */
h1 {
  text-align: center;
  margin: 20px 0;
}
