/* ページ全体のスタイル */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 地図表示領域のスタイル */
#map {
  height: 80vh; /* ビューポートの高さの80%を使用 */
  width: 100%;
}

/* ヘッダーのスタイル */
h1 {
  text-align: center;
  margin: 20px 0;
}

.top-container {
  display: flex;
  justify-content: space-around;
}

.top-left-container {
  /* background-color: red; */
  width: 300px;
}

.weather-gemini-message {
  display: inline;
  /* background-color: green; */
}

.weather-image {
  width: 40px;
}

/* 住所検索のスタイル */
.search-container {
  text-align: center;
  margin: 10px 0;
  width: 400px;
}

.top-right-container {
  display: flex;
  /* background-color: blue; */
  width: 400px;
}

#add-event, #past-events {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin-right: 10px; /* 右側のマージンを指定（例: 10px） */
}

#add-event:hover, #past-events:hover {
  background: #67c5ff;
  color: white;
}
#address-input {
  width:250px;/*横幅*/
  padding:10px 20px;/*プレースホルダーの位置調整*/
  border-radius:4px 0 0 4px;/*左側の角を少し丸める*/		
  background:#eee;/*検背景カラー*/
  border:none;/*枠線を消す*/ 
  outline:0;/*クリック時の青い枠線消す*/	
}

#search-btn {
  padding: 5px 10px;
  width:70px;/*横幅*/ 
  border-radius:0 4px 4px 0;/*右側の角を少し丸める*/ 
  background:#7fbfff;/*背景カラー*/ 
  border:none;/*枠線を消す*/ 
  color:#fff;/*テキストカラー*/ 
  font-size:16px;/*フォントサイズ指定*/ 
  cursor: pointer;/*マウスを乗せると指差しポインターになる*/
}
/*検索ボタンマウスオーバー時*/
#search-btn:hover {
  background: #92dbff;/*背景カラー変更*/
}