/* ページ全体のスタイル */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 地図表示領域のスタイル */
#map {
  height: 80vh; /* ビューポートの高さの80%を使用 */
  width: 100%;
}

/* ヘッダーのスタイル */
h1 {
  text-align: center;
  margin: 20px 0;
}

.top-container {
  display: flex;
  justify-content: space-around;
}

.top-left-container {
  /* background-color: red; */
  width: 400px;
}

.weather-image {
  width: 40px;
}

/* 住所検索のスタイル */
.search-container {
  text-align: center;
  margin: 10px 0;
  width: 400px;
}

.top-right-container {
  display: flex;
  background-color: blue;
  width: 400px;
}

#add-event, #past-events {
  width: 100px;
  height: 70px;
  margin-right: 10px;
}

#address-input {
  padding: 5px;
  width: 250px;
}

#search-btn {
  padding: 5px 10px;
}
