/* ページ全体のスタイル */
body {
    font-family: 'Noto Sans JP', sans-serif;/* フォントの設定 */
    background-color: #ffffff; /* 背景色 */
    margin: 0; /* デフォルトのマージンをリセット */
    padding: 20px; /* ページ全体に余白 */
}

input {
    padding: 10px; /* 上下左右にパディングを追加 */
    text-align: left; /* テキストを左揃え */
}
form {
    margin: 50px; /* フォームの余白 */
}
.centered-input {
    text-align: center; /* テキストを中央揃えにする */
}

.centered-input::placeholder {
    text-align: center; /* プレースホルダーも中央揃えにする */
    color: #999; /* 薄い文字の色を設定（必要に応じて変更） */
}
h1 {
    font-size: 2.0em;  /* フォントサイズ */
    color: #2c3e50;    /* テキストカラー */
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* 下の余白 */
}

h2 {
    font-size: 1.0em;
    color: #2c3e50;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 0; /* 下の余白を0に */
    padding: 1rem 2rem;
    border-left: 4px solid #000;
    line-height: 0.5; /* 行の高さを狭くする */
}

label {
    margin-top: 0; /* 上の余白を0に設定 */
    margin-bottom: 3px; /* 下の余白を5pxに */
    line-height: 1.0; /* 行の高さを狭くする */
}


.vertical-form {
    display: flex;
    flex-direction: column;
    gap:15px; /* 各要素の間の余白を調整 */
}

/* 郵便番号入力と住所補完ボタンの横並び */
.zipcode-group {
    display: flex; /* 横並びにする */
    align-items: center; /* 垂直方向で中央揃え */
    gap: 10px; /* 入力欄とボタンの間のスペース */
    margin-bottom: 10px; /* 下の余白 */
}

#zipcode {
    flex: 1; /* 郵便番号欄の幅を調整 */
    max-width: 150px; /* 最大幅を指定 */
    padding: 10px;
    box-sizing: border-box;
}

#username {
    flex: 1; /* 残りのスペースを使う */
    max-width: 200px; /* 入力欄の最大幅 */
    padding: 10px;
    box-sizing: border-box;
}
#fetch-address-btn {
    padding: 10px 15px;
    font-size: 0.9rem;
    background-color: #27acd9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fetch-address-btn:hover {
    background-color: #1b7ca4;
}
#date_btn {
    padding: 10px 15px;
    font-size: 0.9rem;
    background-color: #27acd9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#date_btn:hover {
    background-color: #1b7ca4;
}

#regist_button {
    writing-mode: horizontal-tb; /* テキストを横書きに設定 */
    text-orientation: mixed; /* テキストの向きを混合に設定（通常の横書き） */
    display: flex; /* フレックスボックスでレイアウトを設定 */
    align-items: center; /* 垂直方向で中央揃え */
    justify-content: center; /* 水平方向で中央揃え */
    width: 120px; /* ボタンの幅を120pxに設定 */
    margin: auto; /* ボタンを中央に配置 */
    padding: 1rem 5rem; /* 上下に1rem、左右に6remのパディングを追加 */
    font-weight: bold; /* フォントを太字に設定 */
    border: 2px solid #27acd9; /* ボタンの枠線を2pxの実線に設定 */
    color: #27acd9; /* テキストの色を指定 */
    border-radius: 100vh; /* ボタンの角を丸くする（楕円形にする） */
    transition: 0.5s; /* 変化にかかる時間を0.5秒に設定 */
}


#regist_button:hover {
	color: #fff;
	background: #27acd9;
}
