<!DOCTYPE html>
<html>
<head>
  <title>Python and JavaScript Integration</title>
  <link rel="stylesheet" href="/static/css/reg_styles.css">
</head>
<body>
  <h1>登録画面</h1>
  <h2>場所情報</h2>
  <form>
    <label for="username">都道府県</label>
    <input type="text" id="username" name="username" placeholder="東京都">
  </form>
  <form>
    <label for="username">郵便番号</label>
    <input type="text" id="username" name="username" placeholder="336‐0000">
  </form>
  <button type="button">郵便番号で検索</button>
  <form>
    <label for="username">市区町村</label>
    <input type="text" id="username" name="username" placeholder="世田谷区">
  </form>
  <form>

    <label for="username">番地</label>
    <input type="text" id="username" name="username" placeholder="3-3-33">
  </form>

  <h2>詳細</h2>
   <form>
    
    <label for="username">開催年</label>
    <input type="text" id="username" name="username" placeholder="2024">
  </form>
  
  
  <form>
    <label for="fruits">開催日程</label>
    <select id="fruits" name="fruits">
      <option value="1">1月</option>
      <option value="2">2月</option>
      <option value="3">3月</option>
      <option value="4">4月</option>
      <option value="1">5月</option>
      <option value="2">6月</option>
      <option value="3">7月</option>
      <option value="4">8月</option>
      <option value="2">9月</option>
      <option value="3">10月</option>
      <option value="4">11月</option>
      <option value="4">12月</option>
    </select>
    <select id="fruits" name="fruits">
      <option value="1">1日</option>
      <option value="2">2日</option>
      <option value="3">3日</option>
      <option value="4">4日</option>
      <option value="1">5日</option>
      <option value="2">6日</option>
      <option value="3">7日</option>
      <option value="4">8日</option>
      <option value="2">9日</option>
      <option value="3">10日</option>
      <option value="4">11日</option>
      <option value="4">12日</option>
      <option value="1">13日</option>
      <option value="2">14日</option>
      <option value="3">15日</option>
      <option value="4">16日</option>
      <option value="1">17日</option>
      <option value="2">18日</option>
      <option value="3">19日</option>
      <option value="4">20日</option>
      <option value="2">21日</option>
      <option value="3">22日</option>
      <option value="4">23日</option>
      <option value="4">24日</option>
      <option value="3">25日</option>
      <option value="4">26日</option>
      <option value="1">27日</option>
      <option value="2">28日</option>
      <option value="3">29日</option>
      <option value="4">30日</option>
      <option value="2">31日</option>
    </select>
  </form>



  <button id="fetchData">登録</button>
  
</body>
</html>
