<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>住所検索付きのLeaflet Map</title>
  <!-- LeafletのCSSを読み込み -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- アプリのスタイルシート -->
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <h1>住所検索付きのLeaflet Map</h1>

  <!-- 天気・観光地登録へのボタン・検索・カレンダー -->
  <div class="top-container">
    <!-- 天気 -->
    <div class="top-left-container">
      <img src="{{ image }}.jpg">
    </div>

    <!-- 住所入力フィールドと検索ボタン -->
    <div class="search-container">
      <input type="text" id="address-input" placeholder="住所を入力">
      <button id="search-btn">検索</button>
    </div>

    <!-- カレンダーボタン -->
    <div class="top-right-container">

    </div>
  </div>

  <!-- 地図を表示する要素 -->
  <div id="map"></div>

  <!-- LeafletのJSを読み込み -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <!-- アプリのJavaScriptファイル -->
  <script src="/static/js/script.js"></script>
</body>

</html>