<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Calendar</title>

    <link rel="stylesheet" href="/static/css/past_events_styles.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="back_button">
        <a href="/">戻る</a>
    </div>

    <!-- カレンダー表示 -->
    <h1>登録済みイベント</h1>
    <table class="event_list">
        <thead>
            <tr>
                <th class="icon"><i class="fas fa-calendar-alt"></i></th>
                <th>日付</th>
                <th>イベント名</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td class="icon"><i class="fas fa-star"></i></td>
                <td>{{ event[0] }}年 {{ event[1] }}月 {{ event[2] }}日</td>
                <td>{{ event[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>